include LICENSE.txt
include README.md
recursive-include djangocms_file/migrations *
recursive-include djangocms_file/south_migrations *
recursive-include djangocms_file/locale *
recursive-include djangocms_file/templates *
recursive-exclude * *.py[co]
