{% load i18n %}

{{ instance.file_src }}<br />

{% if intsance.file_src.url %}
<p class="plugin_file">
	<a href="{{ intsance.file_src.url }}"
        {% if intsance.target %} target="{{ intsance.target }}"{% endif %}
        {% if intsance.tooltip %} title="{{ intsance.tooltip }}"{% endif %}>
		{% if intsance.get_icon_url %}<img src="{{ intsance.get_icon_url }}" alt="">{% endif %}
		{% if intsance.title %}
            <span class="filetitle">{{ intsance.title }}
                {% else %}
            {{ intsance.get_file_name }}
        {% endif %}
        {% if intsance.file_exists %}
            <span class="filesize">({{ intsance.file_src.size|filesizeformat }})</span>
        {% else %}
            ({% trans "file missing!" %})
        {% endif %}
        {% if intsance.title %}</span>{% endif %}
	</a>
</p>
{% endif %}
